[config]
booth=1
candidate_image_path=images
vote_result_path=votes
vote_result_alt_path=c:\votebackup
controller=http://localhost:8080/votecontroller
use_controller=yes

[cadidates]
A1, Amit Kumar, Description, 1.jpg
A2, Vikas Kapoor, Description 2, 2.jpg
A3, Name 3, Description 3, 3.jpg
A4, Name 4, Description 4, 4.jpg
A5, Name 5, Description 5, 5.jpg
A6, Name 6, Description 6, 6.jpg
A7, Name 7, Description 7, 7.jpg
A8, Name 8, Description 8, 8.jpg
A9, Name 9, Description 9, 9.jpg
B1, Name 10, Description 10, 10.jpg
B3, Name 11, Description 11, 11.jpg
A3, Name 12, Description 12, 12.jpg
A3, Name 13, Description 13, 13.jpg
A3, Name 14, Description 14, 14.jpg
A3, Name 15, Description 15, 15.jpg
